#root {
  background-color: white;
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* {
  "id":1,
  "title":"Bewakoof®",
  "price":"399",
  "off":"73% OFF",
  "maxprice":"1499",
  "des":"Unisex Black Varsity Panther Small Backpack",
  "img":"https://images.bewakoof.com/t1080/varsity-black-panther-small-backpack-585285-1686849817-1.jpg"
},
{
  "id":2,
  "title":"Bewakoof®",
  "price":"299",
  "off":"72% OFF",
  "maxprice":"1099",
  "des":"Women's White Blue Vibes Graphic Printed T-shirt",
  "img":"https://images.bewakoof.com/t320/women-s-white-blue-vibes-graphic-printed-t-shirt-621362-1721651327-1.jpg"
},
{
  "id":3,
  "title":"Bewakoof®",
  "price":"449",
  "off":"74% OFF",
  "maxprice":"1749",
  "des":"Women's Blue Oversized Cargo Joggers",
  "img":"https://images.bewakoof.com/t320/mens-solid-t-shirt-516462-1667398060-1.jpg"
},
{
  "id":4,
  "title":"Bewakoof®",
  "price":"699",
  "off":"46% OFF",
  "maxprice":"1299",
  "des":"Unisex White Wild Cat Printed Baseball Cap",
  "img":"https://images.bewakoof.com/t1080/wild-cat-baseball-cap-608209-1706090266-1.jpg"
},
{
  "id":5,
  "title":"Bewakoof®",
  "price":"325",
  "off":"78% OFF",
  "maxprice":"1499",
  "des":"Unisex Black Stoned Panda Graphic Printed Small Backpack",
  "img":"https://images.bewakoof.com/t1080/unisex-black-stoned-panda-small-backpack-602922-1696601924-1.jpg"
} */